<div class=" container bgimage">
    <div class="container w-50 ">
    <form action="action_page.php">
  
      <label for="fname">First Name</label>
      <input type="text" id="fname" name="firstname" placeholder="First name.." maxlength="20" required>
  
      
      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lastname" placeholder= "last name.." maxlength="20" required>

      <label for="email">Email</label>
      <input type="text" id="email" name="email" placeholder= "email.." maxlength="35" required>
  
      <label  for="store">Enter Store Name</label>
      <select id="storename" name="storename" placeholder= "Store Name.." required>
        <option value="hyderbad">Hyderbad</option>
        <option value="bangalore">Bangalore</option>
        <option value="delhi">Delhi</option>
        <option value="mumbai">Mumbai</option>
        <option value="pune">Pune</option>
        <option value="visakhapatnam">Visakhapatnam</option>
        <option value="chennai">Chennai</option>
        <option value="mysore">Mysore</option>
        <option value="kolkata">Kolkata</option>
        <option value="ahmedabad-gandhinagar">Ahmedabad-Gandhinagar</option>
      </select>
  
      <label for="comments">Comments</label>
      <textarea id="comments" name="comments" placeholder="Write your comments.." style="height:200px" required maxlength="150"></textarea>
  
      <input type="submit" value="Submit">
  
    </form>
  </div>
</div>
