<div class="container-fluid mt-7 bg-dark vh-100">
    <div><img src="../../../assets/images/veg.jpg" class="w-100" height="550px"></div>
    <div class="card shadow rounded" style="margin:auto ;margin-top: -510px;width: 500px; ">
        <div class=" text-center text-light h2 fw-bold p-1 ls-4 card-header py-2 bg-primary">
            CONTACT US </div>
        <div class="card-body rounded-bottom bg-dark">
            <form (ngSubmit)="onSubmit()">

                <div class="form-group">
                    <label for="fname">First Name</label>
                    <input type="text" id="fname" name="firstname" class="form-control" placeholder="Firstname"
                        maxlength="10" required>

                    <label for="lame">Last Name</label>
                    <input type="text" id="lname" name="lastname" class="form-control" placeholder="Lastname"
                        maxlength="10" required>


                    <label for="email">Email</label>

                    <input type="text" id="email" name="email" class="form-control" placeholder="email.." maxlength="25"
                        required>


                    <label for="store">Enter Store Name</label>
                    <select id="storename" class="form-control" name="storename" required>
                        <option value="" selected disabled>Store Name</option>
                        <option value="hyderbad">Hyderbad</option>
                        <option value="bangalore">Bangalore</option>
                        <option value="delhi">Delhi</option>
                        <option value="mumbai">Mumbai</option>
                        <option value="pune">Pune</option>
                        <option value="visakhapatnam">Visakhapatnam</option>
                        <option value="chennai">Chennai</option>
                        <option value="mysore">Mysore</option>
                        <option value="kolkata">Kolkata</option>
                        <option value="ahmedabad-gandhinagar">Ahmedabad-Gandhinagar</option>
                    </select>



                    <label for="comments">Comments</label>
                    <textarea id="comments" name="comments" class="form-control" placeholder="Write your comments"
                        required maxlength="100"></textarea>

                    <div class=" d-flex mt-3  justify-content-around">
                        <button class="shadow ls-4 fw-bold w-25 text-light btn btn-success">SUBMIT</button>
                    </div>

                </div>

            </form>


        </div>




    </div>

</div>