.bg{
    background-image:  url("../../assets/images/vegtablefull1.jpg") ;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
    filter: brightness(50%);
   


}
.bi{
    position:absolute;
    margin-top:-580px;
    
}
