<div class="container-fluid mt-7 bg-dark vh-100">
    <div><img src="../../../assets/images/veg.jpg" class="w-100" height="550px"></div>
    <div class="card bg-transparent text-light text-center shadow rounded" style="margin:auto ;margin-top: -440px;">

        
        
        <div class="fs-2 ls-4 fw-bold text-green mb-3">
            Why InstaSmart ?
        </div>
        <div class="text-justify  w-75 m-auto">
            instasmart.com (Innovative Retail Concepts Private Limited) is 
            India's largest online food and grocery store. With over 18,000 
            products and over a 1000 brands in our catalogue you will find 
            everything you are looking for. Right from fresh Fruits and 
            Vegetables, Rice and Dals, Spices and Seasonings to Packaged 
            products, Beverages, Personal care products, Meats - we have it all. 
            Choose from a wide range of options in every category, exclusively
             handpicked to help you find the best quality available at the 
             lowest prices. Select a time slot for delivery and your order 
             will be delivered right to your doorstep, anywhere in Bangalore,
              Hyderabad, Mumbai, Pune, Chennai, Delhi, Noida, Mysore, 
              Coimbatore, Vijayawada-Guntur, Kolkata, Ahmedabad-Gandhinagar,
               Lucknow-Kanpur, Gurgaon, Vadodara, Visakhapatnam, Surat, Nagpur, 
               Patna, Indore and Chandigarh Tricity You can pay online using your 
               debit / credit card or by cash / sodexo on delivery.
               We guarantee on time delivery, and the best quality!
        </div>


    </div>

</div>