<div>
    <mat-toolbar class ="pd"  color = "secondary">
    <span class = "gap fs-3">InstaSmart</span>
    <span class = "filler"></span>
    <span color="accent gap " class="p-3 fs-6" routerLink="/home" routerLinkActive="active fs-4 ">HOME</span>
    <span color="accent gap" class="p-3 fs-6" routerLink="/veges" routerLinkActive="active fs-4">VEGES</span>
    <span  color="accent gap" class="p-3 fs-6" routerLink="/contact-us" routerLinkActive="active fs-4">CONTACT-US</span>
    <span  color="accent" class="p-3 fs-6" routerLink="/about-us" routerLinkActive="active fs-4">ABOUT-US</span>
    <span class = "filler"></span>
    <a class='nav-link' *ngIf="isLoggedIn" >Welcome {{userName}}</a>
    <button class="float-right" *ngIf="!isLoggedIn" mat-raised-button routerLink="/login">Login</button>
    <button (click)="logOut()" *ngIf="isLoggedIn" mat-raised-button>Logout</button> 
    
 </mat-toolbar>
</div>
<router-outlet></router-outlet>
